body {
    background-color: lightgoldenrodyellow;
}


header {
    min-width: 700px;
    min-height: 60px;
    background-color: #003e9b;
    width: auto;
    margin: auto;
    border-radius: 10px;
}


main {
    width: auto;
    clear: both;
}


#play-area {
    margin: auto;
    display: table;
    clear: both;
    overflow: auto;
}


.row {
    clear: both;
    overflow: auto;
    display: table-row;
    border: 3px solid black;
}


.cell {
    display: table-cell;
    
    /*dimensions; app.js overwrites this*/
    width:  60px;
    height: 60px;
    border: 1px solid black;

    /* align text */
    text-align: center;
    vertical-align: middle;

    /* font */
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    
    /* background */
    background-color: gainsboro;
    /*
    background-image: url('../images/not-clicked.png');
    background-size: contain;
    */
}


.cell:hover {
    cursor: pointer;
    /*box-shadow: 5px 10px #888888;*/
}


#new-game, #mine-number-display, #timer {
    background-color: lavenderblush;
    border-radius: 5px;
    float: left;
    padding: 3px 10px;
    margin: 20px 50px 20px 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}


#new-game {
    margin-left: 100px;
}


#new-game:hover {
    cursor: pointer;
}


/* disable text selection.
from: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}