body {
    background-color: lavenderblush;
    margin: auto;
}


header {
    min-width: 900px;
    min-height: 65px;
    background-color: #003e9b;
    width: auto;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}


main {
    width: auto;
    clear: both;
}


#top-menu {
    display: inline-block;
    margin: auto;
    clear: both;
    overflow: auto;
}


#play-area {
    margin: auto;
    display: table;
    clear: both;
    overflow: auto;
}


.row {
    clear: both;
    overflow: auto;
    display: table-row;
}


.cell {
    display: table-cell;
    border: 0.5px solid gray;

    /* align text */
    text-align: center;
    vertical-align: middle;

    /* font */
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
}


.cell:hover {/* TODO: remove on gameEnd()? */
    cursor: pointer;
}


#new-game, #mine-number-display, #timer, #showDropdown {
    background-color: lavenderblush;
    height: 20px;
    border-radius: 8px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 20px 50px 20px 50px;
    padding: 3px 10px;
}

#mine-number-display, #timer {
    display: 'none';
    /*
    padding: 3px 10px;
    display: 'block';
    */
}


input, #new-game:hover, #showDropdown:hover {
    cursor: pointer;
}

#dropdown:hover {
    cursor: default;
}


#showDropdown {
    /* position: relative; */
    text-align: center;
}


#dropdown {         /* TODO: Make it pretty. */
    display: none;
    clear: both;
    position: absolute;
    border-radius: 8px;
    margin-top: 5px;
    background-color: lavenderblush;
    z-index: 1;
}

#dropdown div{
    margin: 7px 7px 7px 7px;
    clear: none;
}


input {
    float: left;
}


/* disable text selection.
from: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}