body {
    background-color: lightgoldenrodyellow;
}


header {
    min-width: 700px;
    background-color: #003e9b;
    width: auto;
    margin: auto;
    border-radius: 10px;
}

main {
    width: auto;
    clear: both;
}


table {
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

td {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    background-color: gainsboro;
}

td:hover {
    cursor: pointer;
    /*box-shadow: 5px 10px #888888;*/
}


#new-game {
    margin: 10px 100px;
}

#new-game:hover {
    cursor: pointer;
}

#mine-number-display {
    background-color: lavenderblush;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 10px 20px;
}

#timer {
    background-color: lavenderblush;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 10px 100px;
}

/* disable text selection.
from: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }